@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');


.fonte2 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
}

.b {
    background-color: rgba(187, 0, 0, 0.459);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur(20.55px );
}

.margem {
    margin-top: 5rem;
}

.nav-link {
    margin-top: .5rem;
    
}

.hoverable{
    display:inline-block;
    margin-top: .5rem;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    font-weight: 100;
    transition-property:transform;
    font-family: 'Raleway', sans-serif;
}

.hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
}

.galeria {
    margin-inline: 1rem;
}

.m {
    margin-top: 3em;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
    color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
    color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
    background-color: rgb(201, 5, 5);
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
    padding-top: 5px;
    padding-bottom: 5px;
}