<div class="container-fluid">
    
    <div class="d-flex justify-content-center">
            <h1 id="karatedo">Karate-Do</h1>
    </div>
    
    <div class="d-flex justify-content-center text-center">
        <h4 class="fontes2">O Caminho das Mãos Vazias :</h4>
    </div>
    
    <div class="d-flex justify-content-center mt-4">
        <div class="fontes">
            <h4>空 - Vazio</h4>
            <h4>手 - Mão</h4>
            <h4>道 - Caminho</h4>
        </div>
    </div>

    <div>
        <div class="fontes2 mt-5">
            <h4>
                História:
            </h4>
        </div>
        <div class="row grupo">
            <p class="fontes3A col-md-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos doloremque quibusdam, reiciendis illo tenetur magnam quod dolores vitae animi corrupti ea nam doloribus rem nemo unde soluta eius iusto cumque?
                Sunt sit illo perspiciatis, eius incidunt neque dolor aspernatur inventore dolorum aliquid quidem quasi rerum, architecto perferendis ut reprehenderit amet, saepe laudantium nobis. Amet quos laboriosam quaerat corrupti soluta debitis!
                Nulla officia sit molestiae nesciunt, recusandae consequatur ducimus deserunt doloremque officiis quasi enim eveniet, corporis optio quae quas. Vero, sed blanditiis quis eum tenetur dolorum ipsum quos rerum magni quae?
                Est deleniti, ut soluta itaque quo expedita exercitationem in accusantium fugiat aliquam, distinctio assumenda, commodi molestias vero autem eveniet! Ipsum eaque nisi distinctio quo asperiores ut corporis soluta minima sunt.
            </p>
            <div class="col-md-6">
                <img class="imagem" src="" alt="Foto Okinawa">
            </div>
        </div>
    </div>
    
    

    <div>
        <div class="fontes2">
            <h4>
                Ética:
            </h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="imagem" src="" alt="Imagem de Estilos">
            </div>
            <p class="fontes3B col-md-6">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores dignissimos, in velit consectetur, expedita maiores similique, minus dolores omnis labore quae itaque odit sunt consequuntur vel fuga. Officia, enim doloremque!
                Rerum tenetur laborum, quaerat quidem aut earum deserunt facilis dolorum? Illo voluptatum optio autem accusamus dolores architecto dolorum suscipit sunt hic eos adipisci dolor corrupti, tempore explicabo animi illum cum.
                Fugiat minus molestiae ullam nesciunt aspernatur quam alias hic, maxime quos sunt dolorum vel natus debitis, ab nobis quis, pariatur voluptatibus similique voluptates unde nisi itaque? Facere asperiores esse doloremque.
            </p>
        </div>
        
    </div>

    <div>
        <div class="fontes2">
            <h4>
                Estilos:
            </h4>
        </div>
    </div>

    <!-- ? -------- Collapse --------------------->

    <div class="d-flex justify-content-center">
        <div class="accordion col-md-8" id="accordionExample">
            <div class="card">
                <h2 class="mb-0">
                    <button id="headingOne" class="card-header btn btn-link btn-block text-left nome" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Shotokan
                    </button>
                </h2>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo error qui hic consequatur minima numquam pariatur perferendis, in vero nesciunt ab sed consequuntur repellendus totam culpa quam rerum iusto facilis?
                    </div>
                </div>
            </div>


            <div class="card">
                <h2 class="mb-0">
                    <button id="headingTwo"  aria-hidden="true" class="card-header btn btn-link btn-block text-left active nome" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapse">
                        Kyokushin
                    </button>
                </h2>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo error qui hic consequatur minima numquam pariatur perferendis, in vero nesciunt ab sed consequuntur repellendus totam culpa quam rerum iusto facilis?
                    </div>
                </div>
            </div>
            
            <div class="card">
                <h2 class="mb-0">
                    <button id="headingThree"  aria-hidden="true" class="card-header btn btn-link btn-block text-left active nome" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapse">
                        Goju-Ryu
                    </button>
                </h2>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo error qui hic consequatur minima numquam pariatur perferendis, in vero nesciunt ab sed consequuntur repellendus totam culpa quam rerum iusto facilis?
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ? ------- /Collapse --------------------->

    <div>
        <div class="fontes2">
            <h4>
                Os Pilares do Karate-Do:
            </h4>
        </div>
        <P class="fontes3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quaerat laudantium aperiam eum natus doloribus architecto ipsam optio, nesciunt, impedit, nulla sit placeat possimus. Officiis, corrupti dignissimos. Provident, aspernatur dignissimos.
            Libero, autem. Repudiandae sed blanditiis commodi vitae rerum doloribus doloremque optio provident praesentium nam cupiditate inventore est tenetur possimus eius quisquam, quo odit laudantium. Voluptatem et modi magnam dignissimos nam!
            Vel excepturi officiis libero voluptatibus labore, similique nihil provident impedit ut et laudantium voluptatem ipsum cupiditate tenetur. Doloremque fuga praesentium facere at quae reiciendis officia consectetur, id temporibus, quas a!
        </P>
    </div>

    <div>
        <div class="fontes2">
            <h4>
                Graduação:
            </h4>
        </div>
        <p class="fontes3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eaque nemo impedit inventore facere ullam ex suscipit, aperiam atque rem, ipsum optio quod quas dolorum aut in tempore. Est, obcaecati!
        </p>

        <!-- ! FAZER ESQUEMA NO PHOTOSHOP, CORES DAS FAIXAS E KYUS -->
        
        <ul>
            <li>
                papa
            </li>
            <li>
                papapa
            </li>
            <li>
                papa
            </li>
            <li>
                papapa
            </li>
        </ul>
    </div>

    <!-- ! FAZER ESQUEMA NO PHOTOSHOP, CORES DAS FAIXAS E KYUS -->

    <div>
        <div class="fontes2">
            <h4>
                Modalidade Olímpica:
            </h4>
        </div>
        <p class="fontes3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt harum ullam ad molestiae aut, magnam commodi rerum cum sint tenetur. Repudiandae eius nobis est temporibus explicabo qui voluptas ex.
            Ad dolores iusto libero vitae nesciunt necessitatibus unde iure voluptatem quidem. Libero minima maiores atque, quidem animi neque qui culpa ducimus blanditiis cum recusandae adipisci suscipit! Deleniti quasi sit officia.
            Corporis debitis vel aliquam voluptate ex alias porro eveniet nisi officiis possimus libero repudiandae ratione facilis, sunt temporibus, reiciendis dolore! Nam explicabo at qui excepturi aut officiis perferendis et id.
            Itaque fugiat aut illum repellat alias sed, eum tenetur laborum laudantium, magnam ut iusto at quidem vel quae optio unde provident? Recusandae odio porro quis totam ducimus ex ullam reiciendis?
        </p>
    </div>

</div>
