<div class="container-fluid">
    
    <div class="d-flex justify-content-center">
        <h1 id="memoriais">Memoriais</h1>
    </div>

    <div class="d-flex justify-content-center">
        <h4 class="fontes2">Respeito acima de tudo</h4>
    </div>

    <div class="container">
        <p class="fontes3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae magnam dolorum perspiciatis ipsam, repellendus repellat assumenda labore facilis voluptas possimus voluptates vel maiores placeat cumque iusto ut soluta veritatis sint?</p>
        <p class="fontes3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste dolorem modi numquam, eos saepe laudantium doloribus accusamus omnis assumenda natus unde vel nostrum quo facilis. Illo reiciendis temporibus quia vitae.
        Esse placeat corrupti provident corporis modi laboriosam consequuntur dignissimos voluptates voluptatem eius ipsa repellat porro omnis deleniti nam, a quo ipsum. Ipsum illo aut veniam reiciendis est voluptate commodi quisquam?
        Accusantium esse quos error ea a unde ipsam quasi illum? Odio autem enim hic voluptatibus minima, dolor placeat. Rerum optio delectus veniam suscipit sed autem natus incidunt aut alias cupiditate.
        Ea odit mollitia illo ad laborum facilis nobis consequuntur quasi impedit iure, quae ipsum at vitae, similique commodi voluptatibus exercitationem omnis unde modi aspernatur fugit aliquam cumque? Iste, fugiat distinctio!
        Dolorem modi placeat sit, qui provident laudantium excepturi ducimus consequuntur odio facilis voluptatem iusto ratione eum laborum cupiditate numquam tempora quod, ipsum similique dolore iste deleniti est. Fugit, eos veritatis?</p>
    </div>

    <div class="d-flex justify-content-center">
        <h4 class="fontes2">Primeira Edição do Karate City Memoriais</h4>
    </div>

    <div class="container-fluid d-flex row">
        <p class="fontes3A col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos doloremque quibusdam, reiciendis illo tenetur magnam quod dolores vitae animi corrupti ea nam doloribus rem nemo unde soluta eius iusto cumque?
            Sunt sit illo perspiciatis, eius incidunt neque dolor aspernatur inventore dolorum aliquid quidem quasi rerum, architecto perferendis ut reprehenderit amet, saepe laudantium nobis. Amet quos laboriosam quaerat corrupti soluta debitis!
            Nulla officia sit molestiae nesciunt, recusandae consequatur ducimus deserunt doloremque officiis quasi enim eveniet, corporis optio quae quas. Vero, sed blanditiis quis eum tenetur dolorum ipsum quos rerum magni quae?
            Est deleniti, ut soluta itaque quo expedita exercitationem in accusantium fugiat aliquam, distinctio assumenda, commodi molestias vero autem eveniet! Ipsum eaque nisi distinctio quo asperiores ut corporis soluta minima sunt.
        </p>
        <div class="col-md-6">
            <img class="imagem" src="" alt="Foto Primeira Edição">
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <h4 class="fontes2">De São Paulo para o Mundo</h4>
    </div>

    <div class="container">
        <p class="fontes3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae magnam dolorum perspiciatis ipsam, repellendus repellat assumenda labore facilis voluptas possimus voluptates vel maiores placeat cumque iusto ut soluta veritatis sint?</p>
        <p class="fontes3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste dolorem modi numquam, eos saepe laudantium doloribus accusamus omnis assumenda natus unde vel nostrum quo facilis. Illo reiciendis temporibus quia vitae.
        Esse placeat corrupti provident corporis modi laboriosam consequuntur dignissimos voluptates voluptatem eius ipsa repellat porro omnis deleniti nam, a quo ipsum. Ipsum illo aut veniam reiciendis est voluptate commodi quisquam?
        Accusantium esse quos error ea a unde ipsam quasi illum? Odio autem enim hic voluptatibus minima, dolor placeat. Rerum optio delectus veniam suscipit sed autem natus incidunt aut alias cupiditate.
        Ea odit mollitia illo ad laborum facilis nobis consequuntur quasi impedit iure, quae ipsum at vitae, similique commodi voluptatibus exercitationem omnis unde modi aspernatur fugit aliquam cumque? Iste, fugiat distinctio!
        Dolorem modi placeat sit, qui provident laudantium excepturi ducimus consequuntur odio facilis voluptatem iusto ratione eum laborum cupiditate numquam tempora quod, ipsum similique dolore iste deleniti est. Fugit, eos veritatis?</p>
    </div>
    <div class="d-flex justify-content-center">

        <div id="carouselExampleSlidesOnly" class="carousel carousel-fade p-0" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="foto d-block" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/99/d8/ed/paulista.jpg?w=1200&h=-1&s=1" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="d-flex justify-content-center">País 1</h5>
                        <p class="d-flex justify-content-center">blablabla</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="foto d-block" src="https://3.bp.blogspot.com/-pJahq64xBEE/VwK9HNN1W1I/AAAAAAABIo8/kRumgiojW-c8-RFhM7ZJ39J0HwMPhGPKw/s1600/IMG_2729_2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="d-flex justify-content-center">País 2</h5>
                        <p class="d-flex justify-content-center">blablabla</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="foto  d-block" src="https://parqueibirapuera.org/wp/wp-content/uploads/2013/02/800px-Monumento_%C3%A0s_Bandeiras_2.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="d-flex justify-content-center">París 3</h5>
                        <p class="d-flex justify-content-center">blablabla</p>
                    </div>
                </div>
            </div>
        </div>

    </div>  

    <div class="d-flex justify-content-center">
        <h4 class="fontes2">Próximo Memorial</h4>
    </div>

    <div class="container-fluid d-flex row mb-5">
        <div class="col-md-6">
            <img class="imagem" src="" alt="Foto algum sensei">
        </div>
        <p class="fontes3B col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos doloremque quibusdam, reiciendis illo tenetur magnam quod dolores vitae animi corrupti ea nam doloribus rem nemo unde soluta eius iusto cumque?
            Sunt sit illo perspiciatis, eius incidunt neque dolor aspernatur inventore dolorum aliquid quidem quasi rerum, architecto perferendis ut reprehenderit amet, saepe laudantium nobis. Amet quos laboriosam quaerat corrupti soluta debitis!
            Nulla officia sit molestiae nesciunt, recusandae consequatur ducimus deserunt doloremque officiis quasi enim eveniet, corporis optio quae quas. Vero, sed blanditiis quis eum tenetur dolorum ipsum quos rerum magni quae?
            Est deleniti, ut soluta itaque quo expedita exercitationem in accusantium fugiat aliquam, distinctio assumenda, commodi molestias vero autem eveniet! Ipsum eaque nisi distinctio quo asperiores ut corporis soluta minima sunt.
        </p>
        
    </div>

</div>