<div id="intro" class="bg-image img-fluid" style="background-image: url(https://i.imgur.com/NuoontY.jpg); background-repeat: no-repeat; background-size:100%; width: 100%; height: 75vw;" >
    <div class="mask text-white">
        <div class="container d-flex justify-content-center text-center h-100" >
            <div class="mb-0">
            <div class="fontes m">
                <h3 id="kara" class="">空</h3>
                <h3 class="">手</h3>
                <h3 class="">道</h3>
            </div>

            </div>
        </div>
        <div class="d-flex justify-content-center mx-0">
            <a class="logo d-flex justify-content-center" href=""><img class="logo" src="https://i.imgur.com/RmKCoHe.png" alt=""></a>
        </div>
    </div>
</div>

<div class="container">
    
</div>
<div class="mb-5 mt-3">
    <h2 id="memoriais" class="titulo d-flex justify-content-center">
                                Isso é Karate City :
    </h2>

    <p class="mx-5 text-center">Lorem ipsum dolipisci tibus consequatur consectetur, hic voluptatum culpa!
    </p>
    <h3 class="subtitulo mx-2 text-center">
        Homenagem aos Mestres
    </h3>
    <p class="mx-5 text-center">
        começa o degradê Lorem ipsum? Debitis iusto incidunt doloribus
        <span class="l2">
            primeira linha Lorem ipsum dolor sit ameti, tempore
        </span>
        <span class="l3">
            neque quaerat ipsam beatae. Segunda linha tananana sumiu...
        </span>
        <a id="galeria" class="text-danger">...Ler mais</a>
    </p>

</div>

<div class="b mt-0 mb-5 ">
    <h1 class="titulo b d-flex justify-content-center">
        Galeria :
    </h1>

    <div class="d-flex justify-content-center">

        <div id="carouselExampleSlidesOnly" class="carousel slide p-0" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="foto d-block" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/99/d8/ed/paulista.jpg?w=1200&h=-1&s=1" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="d-flex justify-content-center sombra">Avenida Paulista</h5>
                        <p class="d-flex justify-content-center sombra">Importante Avenida no Centro de São Paulo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="foto d-block" src="https://3.bp.blogspot.com/-pJahq64xBEE/VwK9HNN1W1I/AAAAAAABIo8/kRumgiojW-c8-RFhM7ZJ39J0HwMPhGPKw/s1600/IMG_2729_2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="d-flex justify-content-center sombra">Parque da Juventude</h5>
                        <p class="d-flex justify-content-center sombra">Parque muito conhecido na Zona Norte da capital</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="foto  d-block" src="https://parqueibirapuera.org/wp/wp-content/uploads/2013/02/800px-Monumento_%C3%A0s_Bandeiras_2.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="d-flex justify-content-center sombra">Parque Ibirapuera</h5>
                        <p class="d-flex justify-content-center sombra">Um dos maiores e mais famosos parques da capital</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

</div>

<div class="d-flex justify-content-center mb-2">
    <h1 class="titulo">
        Karate :
    </h1>
</div>
<div class="col-md-12 d-flex justify-content-center align-items-center">
    
        <div class="col-md-6 p-0">
            <div class="mx-1 text-left p-0 d-flex">
                <p id="texto-karate" class="ml-3">
                    O Karate-Do (空手道) é a forma moderna de caratê, que surgiu influenciada por um movimento ocorrido entre o fim do século XIX e o começo do XX. Tal movimento marcou praticamente a todas as modalidades de lutas japonesas, como kenjutsu, jujutsu, bojutsu etc., que se transformaram com abordagem mais filosófica...
                </p>
            </div>
        </div>
    <div class="col-md-6 d-flex justify-content-center">
        <aside>
            <img id="karate" src="https://i.imgur.com/a3SQ84p.png?1" alt="">
        </aside>
    </div>
</div>
<div>
    <h3 class="subtitulo mt-1 mx-5 d-flex justify-content-center">De onde veio ? Qual a sua essência ?</h3>
    <p class="mx-5 text-center">
        O movimento passou a tomar corpo entre a transição do 
    <span class="l2">século XIX para o XX. </span>
    <span class="l3"> Antes as artes marciais japonesas eram ensinadas</span>
    <br>
    <a href="/karate#karatedo" class="d-flex justify-content-center text-danger">...Ler mais</a>
    </p>
</div>

<div class="mt-5 d-flex justify-content-center">
    <h1 class="titulo">
        Filosofia :
    </h1>
</div>
    <div class="d-flex justify-content-center">
        <img class="zen is-animating mb-3" src="https://i.imgur.com/qUCYfeS.png" alt="">
    </div>
        <h3 class="subtitulo d-flex justify-content-center">Pensamentos Filosóficos dos fundadores do Movimento Karate City :</h3>
    <p class="mx-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum totam, ea at veritatis, temporibus nihil sequi qui ad odio iste quis repellendus debitis labore molestias impedit non itaque quisquam pariatur? 
    <span class="l2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem aut quaerat consequatur impedit molestiae ratione quas veniam in expedita</span>
    <span class="l3"> maxime soluta odit, consequuntur repellendus quia tenetur modi quo nihil. Dignissimos.</span>
    <br>
    <a  id="contato" href="" class="d-flex justify-content-center text-danger">...Ler mais</a>
    </p>


    <div class="mt-5 d-flex justify-content-center">
        <h1 class="titulo">
            Contato :
        </h1>
    </div>
<div class="container caixa">



<div class="container-fluid">

    <form class="col-md-12 mt-3">
        <div class="form-row d-flex justify-content-center">
            <div class="form-group">
                <label for="nome" class="formulario">Nome :</label>
                <input type="nome" class="form-control" id="nome" placeholder="Nome Sobrenome">
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class="form-group">
                <label for="email" class="formulario">E-mail :</label>
                <input type="email" class="form-control" id="email" placeholder="email@gmail.com">
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class="form-group">
                <label for="mensagem" class="d-flex justify-content-start formulario">Mensagem :</label>
                <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Máximo de 300 caracteres"></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <button type="submit" class="btn botao">Enviar</button>
        </div>
    </form>
</div>
</div>